:root {
  --el-color-primary: #07c160;
  --el-color-primary-rgb: 7, 193, 96;
  --el-color-primary-light-3: rgb(79, 212, 144);
  --el-color-primary-light-5: rgb(131, 224, 176);
  --el-color-primary-light-7: rgb(181, 236, 207);
  --el-color-primary-light-8: rgb(205, 243, 223);
  --el-color-primary-light-9: rgb(230, 249, 239);
  --el-color-primary-dark-2: rgb(6, 154, 77);
}
